extends layout

block content
    .w3-card-4
        header.w3-container.w3-light-green
            h2.w3-center Sucesso!
        .w3-container.w3-pale-green.w3-padding-64
            p.w3-center Operação realtiva ao aluno #{aluno.Nome} realizada com sucesso
            .w3-center
                a(href='/alunos')
                    .w3-button.w3-margin-32.w3-light-green.w3-hover-green Voltar            
        footer.w3-container.w3-light-green.w3-padding-16.w3-center
            adress Gerado por Nuno Cunha | PRI2020 with 💚